/* top section start  */
body {
    font-family: "Hind Siliguri", Sans-serif;
}

.bg-primary {
    background-color: #6B035E !important;
    padding-top: 50px;
    color: #FFFFFF;
}

.text-center {
    text-align: center;
}

.title-box {
    padding: 15px;
    background-color: #17706A;
    border: 1px solid #1CFF00;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.title-text,
.discount-title-text {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    margin: 0;
}

.description-box {
  padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.highlight-text {
  font-size: 45px;
  font-weight: 600;
  line-height: 1.7;
}
.highlight {
  color: yellow;
}


.comfort-text {
  color: #FFFFFF;
  font-family: "Hind Siliguri",
  Sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 1.7em;
  padding-top: 40px;
  text-decoration: none;
}

.image-box img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
/* top section end  */



/* discount section start  */
.discount-title-text {
    font-size: 40px;
}

.discount-section {
  background-color: #E5E5E5;
  padding-top: 5px;
  padding-bottom: 24px
}
/* discount section end  */



/* Order Section Start  */
.btn-container {
   padding-top: 10px;
   padding-bottom: 30px;
}

.order-btn {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    background-color: #FF0000;
    padding: 15px 70px;
    border-radius: 50px;
    border-style: dotted;
    text-decoration: none;
}

.order-title{
    font-size: 24px;
    font-weight: bolder;
    color: white;
    
}

.row{ 
  padding: 5px;
}
.card {
   height: 250px;
   
   border: 1px solid lightgrey;
   background-color: rgb(255, 94, 0);
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
   border-top-left-radius: 30%;
   border-bottom-right-radius: 30%;
   font-size: 25px;
   font-weight: bolder;
   color: whitesmoke;

}
.card div{
   display: grid;
   text-align: center;
  
}

.help-desk {
  display: grid;
  height: 80px;
  background-color: #ff0000;
  border: 1px solid #d60000;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  align-items: center;
  color: rgb(245, 245, 245);
  font-size: 30px;
  font-weight: bolder;
  margin-top: 40px;
  
}

/* Order Section end  */



/* Speciality Section Start  */
.speciality-section {
    background-color: rgb(14, 22, 55);
    
}

.speciality-title {
    display: grid;
    height: 80px;
    background-color: #04683c;
    border: 1px solid #1CFF00;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
    color: whitesmoke;
    font-size: 30px;
    font-weight: bolder;
    
}

.speciality-list{
    padding-top: 25px;
    padding-left: 0px;
    }
.speciality-list li{
list-style-type: none;
color: whitesmoke;
font-size: 28px;
padding-top: 7px;
}
/* Speciality Section Start  */


/* Product Description Start  */
.product-description {
    background-color: rgba(252, 195, 195, 0.681);
    
}

.description-title {
    display: grid;
    height: 80px;
    background-color: #ff0000;
    border: 1px solid #ff8000d8;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
    color: rgb(245, 245, 245);
    font-size: 30px;
    font-weight: bolder;
}

.description-list{
    padding-top: 20px;
    padding-left: 0px;
    }

.description-list li{
list-style-type: none;
color: rgb(4, 24, 68);
font-size: 25px;
padding-top: 7px;
font-weight: bolder;
}
/* Product Description end  */


/* Offer Section Start  */
.offer-section {
    display: grid;
    background-color: rgb(0, 0, 0);
    height: 200px;
}

.offer-section div {
    display: grid;
    padding-top: 30px;
    padding-bottom: 30px;
}

.offer-section div span {
    display: grid;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 28px;
    font-weight: bolder;
    padding-top: 10px;
}
/* Offer Section Start  */


/* Alert Section start  */
.alert-title {
    display: grid;
    background-color: #ff0000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
    color: rgb(245, 245, 245);
    font-size: 22px;
    font-weight: bolder;
    padding: 30px;
    
}

.concentration{
    font-size: 30px;
    font-weight: bolder;
}
.alert-section{
  padding: 20px;
}
/* Alert Section end  */



/* checkmark sign start  */
/* primary  */
:root {
    --primary: #ffffff;
    --checkmarkColor: rgb(255, 115, 0);
    --size: 50px;
    --checkmarkFat: 5px;
  }
  
  .circle {
    position: relative;
    background: var(--primary);
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
  }
  
  .checkmark {
    position: absolute;
    transform: rotate(45deg) translate(-50%, -50%);
    left: 30%;
    top: 45%;
    height: calc(var(--size) / 2);
    width: calc(var(--size) / 4);
    border-bottom: var(--checkmarkFat) solid var(--checkmarkColor);
    border-right: var(--checkmarkFat) solid var(--checkmarkColor);
  }

/* secondary  */
  :root {
    --secondary: #e0e0e0; 
    --checkmarkColorSecondary: rgb(0, 0, 0); 
    --sizeSecondary: 40px; 
    --checkmarkFatSecondary: 5px; 
  }
  
  .circle-secondary {
    background: var(--secondary);
    width: var(--sizeSecondary);
    height: var(--sizeSecondary);
    
    border-radius: 50%;
    position: relative;
  }
  
  .checkmark-secondary {
    position: absolute;
    transform: rotate(45deg) translate(-50%, -50%);
    left: 35%; 
    top: 45%;
    height: calc(var(--sizeSecondary) / 2);
    width: calc(var(--sizeSecondary) / 4);
    border-bottom: var(--checkmarkFatSecondary) solid var(--checkmarkColorSecondary);
    border-right: var(--checkmarkFatSecondary) solid var(--checkmarkColorSecondary);
  }

  /* tertiary  */
  
  :root {
    --tertiary: #A50000; 
    --checkmarkColorTertiary:rgb(255, 209, 209); 
    --sizeTertiary: 40px; 
    --checkmarkFatTertiary: 5px; 
  }
  
  .circle-tertiary {
    background: var(--tertiary);
    width: var(--sizeTertiary);
    height: var(--sizeTertiary);
    border-radius: 50%;
    position: relative;
  }
  
  .checkmark-tertiary {
    position: absolute;
    transform: rotate(45deg) translate(-50%, -50%);
    left: 35%; 
    top: 50%; 
    height: calc(var(--sizeTertiary) / 2);
    width: calc(var(--sizeTertiary) / 4);
    border-bottom: var(--checkmarkFatTertiary) solid var(--checkmarkColorTertiary);
    border-right: var(--checkmarkFatTertiary) solid var(--checkmarkColorTertiary);
  }
/* checkmark sign end  */


/* order section start  */
.order-section {
    background-color: rgba(252, 195, 195, 0.681);
    
}

.billing{
    text-align: start;
    color: whitesmoke;
}

.bill-dtl {
    margin: 0px;
    padding: 20px 10px;
    font-size: 16px;
}

.order-field{
    display: grid;
    background-color: #05A367;
    border: 1px solid #018754;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
    font-size: 25px;
    font-weight: bolder;
    padding: 40px 20px 20px 20px;
}

.inner-field{
    background-color: orangered;
}

.notice-field{
    background-color: white;
}


.demo-card {
    display: flex;
    padding: 10px 10px;
    background-color: #fff;
    border-radius: 10px;
  }

.demo-card span{
    font-size: 15px;
}
.price-font{
  font-size: 15px;
}


.wrapper {
  height: 30px;
  display: flex;
}
.quantity {
  text-align: center;
  width: 33px;
  height: 34px;
  font-size: 14px;
  color: #201d1d;
  font-weight: bold;
  border: 1px solid #e1e8ee;
 
}

.btn-pls {
  border: 1px solid #9b9b9b;
  width: 30px;
  background-color: #fdfdfd;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

}

.btn-mns {
  border: 1px solid #9b9b9b;
  width: 30px;
  background-color: #fdfdfd;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

button:focus,
input:focus {
  outline: 5px;
}

/* Hide the number input spin buttons */
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-box[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-input-placeholder {
  font-size: 12px;
}
.form-text {
  font-size: 11px;
}

.dash {
  border: none;
  border-top: 2px dashed #ffffff;
  height: 0;
}

/* radio button  */
:root {
  accent-color: rgb(255, 94, 0);
}

[type="radio"] {
  font-size: inherit;
  width: 0.95em;
  height: 0.95em;
}
/* radio button  */

.form-control{
  height: 60px;
}

.triangle-top-left-2 {
  position: relative;
  left: 5%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 0;

  border-color: transparent transparent rgba(213, 213, 213, 0.71) transparent;
}

.pop {
  display: flex;
  background-color: rgba(213, 213, 213, 0.71);
  height: 55px;
  align-items: center;
  
  border-radius: 5px;
}

.pay-order{
 display: grid;
  height: 150px;
  background-color: white;
  align-items: center;
  text-align: left;
  border-radius: 15px;
  font-size: 16px;
  color: black;
 
}

.ordr-submt{
  background-color: rgb(0, 0, 0);
  height: 80px;
  border-radius: 5px;
  border: none;
  color: whitesmoke;
}

/* order section end  */


  /* Footer section start  */
.footer-sec{
    height: 400px;
    background-color: #000;
   
  }

  .footer-text{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 50px;
  }
  
  .footer-left {
    display: grid;
    color: whitesmoke;
    padding-top: 40px;
    justify-content: center;
  }
  
  .footer-left span{
    padding: 10px;
    font-size: 25px;
    text-align: left;
  }
  
  .copyright-text{
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    color: whitesmoke;
    font-weight: bold;
  }
  
  .copyright-note{
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    color: whitesmoke;
    font-weight: bold;
  }

  .address-icon{
    height: 40px;
    width: 37px;
    margin-right: 5px;
  }

  /* Footer section end  */



/* Responsive Design */
@media (max-width: 767px) {

  /* top section start  */
    .title-text,
    .highlight-text,
    .comfort-text,
    .order-btn {
        font-size: 24px;
    }

    .discount-title-text {
        font-size: 28px;
    }

    .order-btn {
        padding: 10px 30px;
    }
}





@media (max-width: 320px) {
  /* top section start  */

.container {
    padding: 0;
  }
.comfort-text {
    padding-top: 40px;
 }
.comfort-text h2 {
  color: #FFFFFF;
    font-family: "Hind Siliguri",
    Sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.7em;
    text-decoration: none;
 }

 /* discount section start  */
.discount-section {
  background-color: #E5E5E5;
  
}
.row{ 
  padding: 5px;
  gap: 20px;
}
.card {
   height: 150px;
   border: 1px solid lightgrey;
   background-color: rgb(255, 94, 0);
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   border-top-left-radius: 30%;
   border-bottom-right-radius: 30%;
   font-size: 17px;
   font-weight: bolder;
   color: whitesmoke;
}
.row.col-sm-4{
  padding-bottom: 10px;
}
.card div{
   display: grid;
   text-align: center;
}

 /* discount section end  */


 /* speciality section start  */

.speciality-title {
  display: grid;
  height: 80px;
  background-color: #04683c;
  border: 1px solid #1CFF00;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  align-items: center;
  color: whitesmoke;
  font-size: 21px;
  font-weight: bolder;
}
.speciality-list{
  padding-top: 25px;
  padding-left: 0px;
  }
.speciality-list li{
list-style-type: none;
color: whitesmoke;
font-size: 15px;
padding-top: 7px;
}

 /* speciality section end  */


 /* product description  start  */

.description-title {
  display: grid;
  height: 80px;
  background-color: #ff0000;
  border: 1px solid #ff8000d8;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  align-items: center;
  color: rgb(245, 245, 245);
  font-size: 22px;
  font-weight: bolder;
}
.description-list{
  padding-top: 20px;
  padding-left: 0px;
  }
.description-list li{
list-style-type: none;
color: rgb(4, 24, 68);
font-size: 16px;
padding-top: 7px;
font-weight: bolder;
}
 /* product description  end  */


 /* checkmark start  */
/* primary */
:root {
  --primary: #ffffff;
  --checkmarkColor: rgb(255, 115, 0);
  --size: 40px;
  --checkmarkFat: 4px;
}
.circle {
  position: relative;
  background: var(--primary);
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
}
.checkmark {
  position: absolute;
  transform: rotate(45deg) translate(-50%, -50%);
  left: 30%;
  top: 45%;
  height: calc(var(--size) / 2);
  width: calc(var(--size) / 4);
  border-bottom: var(--checkmarkFat) solid var(--checkmarkColor);
  border-right: var(--checkmarkFat) solid var(--checkmarkColor);
}

/* secondary  */
:root {
  --secondary: #e0e0e0; 
  --checkmarkColorSecondary: rgb(0, 0, 0); 
  --sizeSecondary: 30px; 
  --checkmarkFatSecondary: 4px; 
}
.circle-secondary {
  background: var(--secondary);
  width: var(--sizeSecondary);
  height: var(--sizeSecondary);
  border-radius: 50%;
  position: relative;
}
.checkmark-secondary {
  position: absolute;
  transform: rotate(45deg) translate(-50%, -50%);
  left: 35%; 
  top: 45%;
  height: calc(var(--sizeSecondary) / 2);
  width: calc(var(--sizeSecondary) / 4);
  border-bottom: var(--checkmarkFatSecondary) solid var(--checkmarkColorSecondary);
  border-right: var(--checkmarkFatSecondary) solid var(--checkmarkColorSecondary);
}

/* tertiary  */
:root {
  --tertiary: #A50000; 
  --checkmarkColorTertiary:rgb(255, 209, 209); 
  --sizeTertiary: 30px; 
  --checkmarkFatTertiary: 4px; 
}
.circle-tertiary {
  background: var(--tertiary);
  width: var(--sizeTertiary);
  height: var(--sizeTertiary);
  border-radius: 50%;
  position: relative;
}
.checkmark-tertiary {
  position: absolute;
  transform: rotate(45deg) translate(-50%, -50%);
  left: 35%; 
  top: 50%; 
  height: calc(var(--sizeTertiary) / 2);
  width: calc(var(--sizeTertiary) / 4);
  border-bottom: var(--checkmarkFatTertiary) solid var(--checkmarkColorTertiary);
  border-right: var(--checkmarkFatTertiary) solid var(--checkmarkColorTertiary);
}
/* checkmark end  */


/* offer section start  */
.offer-section {
  display: grid;
  background-color: rgb(0, 0, 0);
  height: 200px;
}
.offer-section div {
  display: grid;
  padding-top: 20px;
  padding-bottom: 30px;
}
.offer-section div span {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 21px;
  font-weight: bolder;
  padding-top: 5px;
}
/* offer section end  */

/* alert section start  */
.alert-title {
      display: grid;
      background-color: #ff0000;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      text-align: center;
      align-items: center;
      color: rgb(245, 245, 245);
      font-size: 22px;
      font-weight: bolder;
      padding: 30px;
  }
  
  .concentration{
      font-size: 22px;
      font-weight: bolder;
  }
/* alert section end  */

  

/* order section start  */
  .order-title span {
    font-size: 16px;
    font-weight: bolder;
    padding: 10px;
  }

  .demo-card img {
    width: 40px;
    height: 40px;
  }
  .demo-card span{
      font-size: 13px;
  }
  
  .price-font {
    font-size: 12px;
  }

  .billing .fw-bold {
    font-size: 14px;
    padding-left: 8px;
  }

  .bill-dtl {
   
    padding-left: 5px;
  }

  .d-flex.gap-3.align-items-center {
    gap: 5px;
  }

  .select-item img {
      width: 50px;
      height: 50px;
  }

  .select-item p {
    font-size: 12px;
    line-height: 1.2;
    padding-left: 10px;
  }

  .dash {
    margin: 10px 0;
  }

  .form-check-label {
    font-size: 12px;
  }

  .quantity {
    width: 30px;
    text-align: center;
  }

  .btn-container .order-btn {
    font-size: 15px;
    padding: 12px 24px;
  }

  .help-desk span {
    font-size: 12px;
  }

  .ordr-submt {
    font-size: 14px;
    padding: 10px;
  }

  .pay-order .fs-5 {
    font-size: 14px;
  }

  /* Adjust input fields */
  input.form-control {
    font-size: 14px;
    padding: 5px;
  }

  .order-field, .bill-dtl, .container {
    margin: 0;
    padding: 11px 10px;
    font-size: 12px;
  }
  .container {
    padding: 15px 7px;
    ;
  }
  .billing .col-md-12, .pay-order {
    padding: 0;
  }
   
.triangle-top-left-2 {
    position: relative;
    left: 5%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 0;
  
    border-color: transparent transparent rgba(213, 213, 213, 0.71) transparent;
  }
  
  .pop {
    display: flex;
    background-color: rgba(213, 213, 213, 0.71);
    height: 55px;
    align-items: center;
    border-radius: 5px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .help-desk {
    display: grid;
    height: 80px;
    background-color: #ff0000;
    border: 1px solid #d60000;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
    color: rgb(245, 245, 245);
    font-size: 30px;
    font-weight: bolder;
    margin-top: 22px;
}

.btn-container, .d-grid {
  display: flex;
  justify-content: center;

.ordr-submt{
  background-color: rgb(0, 0, 0);
  height: 55px;
  border-radius: 5px;
  border: none;
  color: whitesmoke;
  width: 250px;
}
}
/* order section end  */
  

/* footer section start  */
.footer-sec{
  height: 400px;
  background-color: #000;
}

.footer-text{
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 11px;
}

.footer-left {
  display: grid;
  color: whitesmoke;
  padding-top: 40px;
  justify-content: center;
}

.footer-left span{
  padding: 7px;
  font-size: 12px;
  text-align: left;
}

.copyright-text{
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
  color: whitesmoke;
  font-weight: bolder;
}

.copyright-note{
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  color: whitesmoke;
  font-weight: bold;
}

.address-icon{
  height: 40px;
  width: 37px;
  margin-right: 5px;
}
/* footer section end  */

  }


@media (max-width: 375px) {
/* top section start  */
  .container {
      padding: 0;
    }
  .comfort-text {
      padding-top: 40px;
   }
  .comfort-text h2 {
    color: #FFFFFF;
      font-family: "Hind Siliguri",
      Sans-serif;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.7em;
      text-decoration: none;
   }
   /* top section end  */


   /* discount section start  */
  .discount-section {
    background-color: #E5E5E5;
  }
  .row{ 
    padding: 5px;
    gap: 20px;
  }
  .card {
     height: 150px;
     border: 1px solid lightgrey;
     background-color: rgb(255, 94, 0);
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     border-top-left-radius: 30%;
     border-bottom-right-radius: 30%;
     font-size: 17px;
     font-weight: bolder;
     color: whitesmoke;
  }
  .row.col-sm-4{
    padding-bottom: 10px;
  }
  .card div{
     display: grid;
     text-align: center;
  }

   /* discount section end  */

    
  /* speciality section start  */
 .speciality-title {
   display: grid;
   height: 80px;
   background-color: #04683c;
   border: 1px solid #1CFF00;
   border-radius: 10px;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
   text-align: center;
   align-items: center;
   color: whitesmoke;
   font-size: 21px;
   font-weight: bolder;
 }
 .speciality-list{
   padding-top: 25px;
   padding-left: 0px;
   }
 .speciality-list li{
 list-style-type: none;
 color: whitesmoke;
 font-size: 15px;
 padding-top: 7px;
 }
 
 .description-title {
   display: grid;
   height: 80px;
   background-color: #ff0000;
   border: 1px solid #ff8000d8;
   border-radius: 10px;
   box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
   text-align: center;
   align-items: center;
   color: rgb(245, 245, 245);
   font-size: 22px;
   font-weight: bolder;
 }
 .description-list{
   padding-top: 20px;
   padding-left: 0px;
   }
 .description-list li{
 list-style-type: none;
 color: rgb(4, 24, 68);
 font-size: 16px;
 padding-top: 7px;
 font-weight: bolder;
 }
  /* speciality section end  */

    
/* checkmark start  */
/* primary  */
    :root {
      --primary: #ffffff;
      --checkmarkColor: rgb(255, 115, 0);
      --size: 40px;
      --checkmarkFat: 4px;
    }
    .circle {
      position: relative;
      background: var(--primary);
      border-radius: 50%;
      width: var(--size);
      height: var(--size);
    }
    .checkmark {
      position: absolute;
      transform: rotate(45deg) translate(-50%, -50%);
      left: 30%;
      top: 45%;
      height: calc(var(--size) / 2);
      width: calc(var(--size) / 4);
      border-bottom: var(--checkmarkFat) solid var(--checkmarkColor);
      border-right: var(--checkmarkFat) solid var(--checkmarkColor);
    }
    
  /* secondary  */
    :root {
      --secondary: #e0e0e0; 
      --checkmarkColorSecondary: rgb(0, 0, 0); 
      --sizeSecondary: 30px; 
      --checkmarkFatSecondary: 4px; 
    }
    .circle-secondary {
      background: var(--secondary);
      width: var(--sizeSecondary);
      height: var(--sizeSecondary);
      border-radius: 50%;
      position: relative;
    }
    .checkmark-secondary {
      position: absolute;
      transform: rotate(45deg) translate(-50%, -50%);
      left: 35%; 
      top: 45%;
      height: calc(var(--sizeSecondary) / 2);
      width: calc(var(--sizeSecondary) / 4);
      border-bottom: var(--checkmarkFatSecondary) solid var(--checkmarkColorSecondary);
      border-right: var(--checkmarkFatSecondary) solid var(--checkmarkColorSecondary);
    }
    
  /* tertiary  */
    :root {
      --tertiary: #A50000; 
      --checkmarkColorTertiary:rgb(255, 209, 209); 
      --sizeTertiary: 30px; 
      --checkmarkFatTertiary: 4px; 
    }
    .circle-tertiary {
      background: var(--tertiary);
      width: var(--sizeTertiary);
      height: var(--sizeTertiary);
      border-radius: 50%;
      position: relative;
    }
    .checkmark-tertiary {
      position: absolute;
      transform: rotate(45deg) translate(-50%, -50%);
      left: 35%; 
      top: 50%; 
      height: calc(var(--sizeTertiary) / 2);
      width: calc(var(--sizeTertiary) / 4);
      border-bottom: var(--checkmarkFatTertiary) solid var(--checkmarkColorTertiary);
      border-right: var(--checkmarkFatTertiary) solid var(--checkmarkColorTertiary);
    }

/* checkmark end */

    
/* offer section start  */
.offer-section {
  display: grid;
  background-color: rgb(0, 0, 0);
  height: 200px;
}
.offer-section div {
  display: grid;
  padding-top: 20px;
  padding-bottom: 30px;
}
.offer-section div span {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 21px;
  font-weight: bolder;
  padding-top: 5px;
}
/* offer section end  */

    
/* alert section start  */
.alert-title {
    display: grid;
    background-color: #ff0000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    align-items: center;
    color: rgb(245, 245, 245);
    font-size: 22px;
    font-weight: bolder;
    padding: 30px;
}

.concentration{
    font-size: 22px;
    font-weight: bolder;
}
/* alert section start  */


/* order section start  */
.order-title span {
  font-size: 16px;
  font-weight: bolder;
  padding: 10px;
}
.demo-card img {
  width: 40px;
  height: 40px;
}
.demo-card span{
    font-size: 13px;
}

.price-font {
  font-size: 12px;
}
.billing .fw-bold {
  font-size: 14px;
  padding-left: 8px;
}
.bill-dtl {
 
  padding-left: 5px;
}
.d-flex.gap-3.align-items-center {
  gap: 5px;
}
.select-item img {
    width: 50px;
    height: 50px;
}
.select-item p {
  font-size: 12px;
  line-height: 1.2;
  padding-left: 10px;
}
.dash {
  margin: 10px 0;
}
.form-check-label {
  font-size: 12px;
}
.quantity {
  width: 30px;
  text-align: center;
}
.btn-container .order-btn {
  font-size: 15px;
  padding: 12px 24px;
}
.help-desk span {
  font-size: 12px;
}
.ordr-submt {
  font-size: 14px;
  padding: 10px;
}
.pay-order .fs-5 {
  font-size: 14px;
}
input.form-control {
  font-size: 14px;
  padding: 5px;
}
.order-field, .bill-dtl, .container {
  margin: 0;
  padding: 11px 10px;
  font-size: 12px;
}
.container {
  padding: 15px 7px;
  ;
}
.billing .col-md-12, .pay-order {
  padding: 0;
}
.triangle-top-left-2 {
  position: relative;
  left: 5%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 0;

  border-color: transparent transparent rgba(213, 213, 213, 0.71) transparent;
}
.pop {
  display: flex;
  background-color: rgba(213, 213, 213, 0.71);
  height: 55px;
  align-items: center;
  border-radius: 5px;
  margin-left: 8px;
  margin-right: 8px;
}
.help-desk {
  display: grid;
  height: 80px;
  background-color: #ff0000;
  border: 1px solid #d60000;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  align-items: center;
  color: rgb(245, 245, 245);
  font-size: 30px;
  font-weight: bolder;
  margin-top: 22px;
}
  .btn-container, .d-grid {
    display: flex;
    justify-content: center;
  }
  .ordr-submt{
    background-color: rgb(0, 0, 0);
    height: 55px;
    border-radius: 5px;
    border: none;
    color: whitesmoke;
    width: 250px;
  }
/* order section end  */


/* footer section start */
.footer-sec{
  height: 400px;
  background-color: #000;
}

.footer-text{
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding-bottom: 11px;
}

.footer-left {
  display: grid;
  color: whitesmoke;
  padding-top: 40px;
  justify-content: center;
}

.footer-left span{
  padding: 7px;
  font-size: 12px;
  text-align: left;
}

.copyright-text{
  font-size: 10px;
  text-align: center;
  margin-top: 10px;
  color: whitesmoke;
  font-weight: bolder;
}

.copyright-note{
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  color: whitesmoke;
  font-weight: bold;
}

.address-icon{
  height: 40px;
  width: 37px;
  margin-right: 5px;
}
/* footer section end  */

  }



  @media (max-width: 424px) {
    /* top section start  */
    .container {
        padding: 0;
      }
    .title-box {
      padding: 15px;
      background-color: #17706A;
      border: 1px solid #1CFF00;
      border-radius: 10px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    }
    .comfort-text {
        padding-top: 40px;
     }
    .comfort-text h2 {
      color: #FFFFFF;
        font-family: "Hind Siliguri",
        Sans-serif;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.7em;
        text-decoration: none;
     }
     /* top section end  */
  
      /* discount section start  */
    .discount-section {
      background-color: #E5E5E5;
      
    }
    
    .row{ 
      padding: 5px;
      gap: 20px;
     
    }
    .card {
       height: 150px;
       border: 1px solid lightgrey;
       background-color: rgb(255, 94, 0);
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 10px;
       border-top-left-radius: 30%;
       border-bottom-right-radius: 30%;
       font-size: 17px;
       font-weight: bolder;
       color: whitesmoke;
    }
    .row.col-sm-4{
      padding-bottom: 10px;
    }
    .card div{
       display: grid;
       text-align: center;
    }
    /* discount section end  */
    
  
    /* speciality section start  */
    .speciality-title {
      display: grid;
      height: 80px;
      background-color: #04683c;
      border: 1px solid #1CFF00;
      border-radius: 10px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      text-align: center;
      align-items: center;
      color: whitesmoke;
      font-size: 21px;
      font-weight: bolder;
    }
    .speciality-list{
      padding-top: 25px;
      padding-left: 0px;
      }
    .speciality-list li{
    list-style-type: none;
    color: whitesmoke;
    font-size: 15px;
    padding-top: 7px;
    }
    /* speciality section end  */
    
  
    /* product description start  */
    .description-title {
      display: grid;
      height: 80px;
      background-color: #ff0000;
      border: 1px solid #ff8000d8;
      border-radius: 10px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      text-align: center;
      align-items: center;
      color: rgb(245, 245, 245);
      font-size: 22px;
      font-weight: bolder;
    }
    .description-list{
      padding-top: 20px;
      padding-left: 0px;
      }
    .description-list li{
    list-style-type: none;
    color: rgb(4, 24, 68);
    font-size: 16px;
    padding-top: 7px;
    font-weight: bolder;
    }
     /* product description end*/
    
    
     /* checkmark start */
     /* primary  */
    :root {
      --primary: #ffffff;
      --checkmarkColor: rgb(255, 115, 0);
      --size: 40px;
      --checkmarkFat: 4px;
    }
    .circle {
      position: relative;
      background: var(--primary);
      border-radius: 50%;
      width: var(--size);
      height: var(--size);
    }
    .checkmark {
      position: absolute;
      transform: rotate(45deg) translate(-50%, -50%);
      left: 30%;
      top: 45%;
      height: calc(var(--size) / 2);
      width: calc(var(--size) / 4);
      border-bottom: var(--checkmarkFat) solid var(--checkmarkColor);
      border-right: var(--checkmarkFat) solid var(--checkmarkColor);
    }
    
    /* secondary  */
    :root {
      --secondary: #e0e0e0; 
      --checkmarkColorSecondary: rgb(0, 0, 0); 
      --sizeSecondary: 30px; 
      --checkmarkFatSecondary: 4px; 
    }
    .circle-secondary {
      background: var(--secondary);
      width: var(--sizeSecondary);
      height: var(--sizeSecondary);
      border-radius: 50%;
      position: relative;
    }
    .checkmark-secondary {
      position: absolute;
      transform: rotate(45deg) translate(-50%, -50%);
      left: 35%; 
      top: 45%;
      height: calc(var(--sizeSecondary) / 2);
      width: calc(var(--sizeSecondary) / 4);
      border-bottom: var(--checkmarkFatSecondary) solid var(--checkmarkColorSecondary);
      border-right: var(--checkmarkFatSecondary) solid var(--checkmarkColorSecondary);
    }
    
    /* tertiary  */
    :root {
      --tertiary: #A50000; 
      --checkmarkColorTertiary:rgb(255, 209, 209); 
      --sizeTertiary: 30px; 
      --checkmarkFatTertiary: 4px; 
    }
    .circle-tertiary {
      background: var(--tertiary);
      width: var(--sizeTertiary);
      height: var(--sizeTertiary);
      border-radius: 50%;
      position: relative;
    }
    .checkmark-tertiary {
      position: absolute;
      transform: rotate(45deg) translate(-50%, -50%);
      left: 35%; 
      top: 50%; 
      height: calc(var(--sizeTertiary) / 2);
      width: calc(var(--sizeTertiary) / 4);
      border-bottom: var(--checkmarkFatTertiary) solid var(--checkmarkColorTertiary);
      border-right: var(--checkmarkFatTertiary) solid var(--checkmarkColorTertiary);
    }
    /* checkmark end */
    
    /* offer section start  */
    .offer-section {
      display: grid;
      background-color: rgb(0, 0, 0);
      height: 200px;
    }
    .offer-section div {
      display: grid;
      padding-top: 20px;
      padding-bottom: 30px;
    }
    .offer-section div span {
      display: grid;
      text-align: center;
      justify-content: center;
      align-items: center;
      color: whitesmoke;
      font-size: 21px;
      font-weight: bolder;
      padding-top: 5px;
    }
    /* offer section end  */
    
  
    /* alert section start  */
    .alert-title {
          display: grid;
          background-color: #ff0000;
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
          text-align: center;
          align-items: center;
          color: rgb(245, 245, 245);
          font-size: 22px;
          font-weight: bolder;
          padding: 30px;
      }
      
      .concentration{
          font-size: 22px;
          font-weight: bolder;
      }
/* alert section end*/

/* order section start  */
      .order-title span {
        font-size: 16px;
        font-weight: bolder;
        padding: 10px;
      }
    
      .demo-card img {
        width: 40px;
        height: 40px;
      }
      .demo-card span{
          font-size: 13px;
      }
      
      .price-font {
        font-size: 12px;
      }
    
      .billing .fw-bold {
        font-size: 14px;
        padding-left: 8px;
      }
    
      .bill-dtl {
       
        padding-left: 5px;
      }
    
      .d-flex.gap-3.align-items-center {
        gap: 5px;
      }
    
      .select-item img {
          width: 50px;
          height: 50px;
      }
    
      .select-item p {
        font-size: 12px;
        line-height: 1.2;
        padding-left: 10px;
      }
    
      .dash {
        margin: 10px 0;
      }
    
      .form-check-label {
        font-size: 12px;
      }
    
      .quantity {
        width: 30px;
        text-align: center;
      }
    
      .btn-container .order-btn {
        font-size: 15px;
        padding: 12px 24px;
      }
    
      .help-desk span {
        font-size: 12px;
      }
    
      .ordr-submt {
        font-size: 14px;
        padding: 10px;
      }
    
      .pay-order .fs-5 {
        font-size: 14px;
      }
    
      /* Adjust input fields */
      input.form-control {
        font-size: 14px;
        padding: 5px;
      }
    
      .order-field, .bill-dtl, .container {
        margin: 0;
        padding: 11px 10px;
        font-size: 12px;
      }
      .container {
        padding: 15px 7px;
        ;
      }
      .billing .col-md-12, .pay-order {
        padding: 0;
      }
       
    .triangle-top-left-2 {
        position: relative;
        left: 5%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 15px 15px 0;
      
        border-color: transparent transparent rgba(213, 213, 213, 0.71) transparent;
      }
      
      .pop {
        display: flex;
        background-color: rgba(213, 213, 213, 0.71);
        height: 55px;
        align-items: center;
        border-radius: 5px;
        margin-left: 8px;
        margin-right: 8px;
      }
    
      .help-desk {
        display: grid;
        height: 80px;
        background-color: #ff0000;
        border: 1px solid #d60000;
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        text-align: center;
        align-items: center;
        color: rgb(245, 245, 245);
        font-size: 30px;
        font-weight: bolder;
        margin-top: 22px;
    }
    
      
        /* Button alignment */
        .btn-container, .d-grid {
          display: flex;
          justify-content: center;
        }
    
        .ordr-submt{
          background-color: rgb(0, 0, 0);
          height: 55px;
          border-radius: 5px;
          border: none;
          color: whitesmoke;
          width: 250px;
        }
/* order section end  */
      
/* footer section start */
    .footer-sec{
      height: 400px;
      background-color: #000;
    }
    
    .footer-text{
      display: flex;
      text-align: center;
      justify-content: space-between;
      padding-bottom: 11px;
    }
    
    .footer-left {
      display: grid;
      color: whitesmoke;
      padding-top: 40px;
      justify-content: center;
    }
    
    .footer-left span{
      padding: 7px;
      font-size: 12px;
      text-align: left;
    }
    
    .copyright-text{
      font-size: 10px;
      text-align: center;
      margin-top: 10px;
      color: whitesmoke;
      font-weight: bolder;
    }
    
    .copyright-note{
      font-size: 12px;
      text-align: center;
      margin-top: 10px;
      color: whitesmoke;
      font-weight: bold;
    }
    
    .address-icon{
      height: 40px;
      width: 37px;
      margin-right: 5px;
    }
/* footer section end  */
  }